.filtered-news-page {
    display: flex;
    flex-direction: column;
    background: url("../../assets/newsPaper.png"); 
    height: 100vh;
}

.filtered-news-stories-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
}

.filtered-news-header{
    display: flex;
    justify-content: flex-start;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.756);
}