.single-story-page {
  display: flex;
  flex-direction: column;
  background: url("../../assets/newsPaper.png"); 
  height: 100vh;
}


.return-container {
  display: flex;
  justify-content: flex-start;
  padding: 2em;
  background-color: rgba(255, 255, 255, 0.756);
}

.return-icon {
    margin-right: 0.5em;
}


.single-story-container {
  display: flex;
  width: 100%;
  height: 50%;
  margin-top: 4em;
  padding: 1em;
  background: black;
}

.single-story-container h2 {
  color: black;
  margin: 0;
}

.single-story-container h3 {
  color: black;
}

.details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: auto;
  padding: 2em;
  background: white;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: auto;
  margin-left: 0.5em;
}

.img-container img {
  width: 70%;
  height: auto;
}

.element-invisible {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.external-icon {
  margin-left: 0.5em;
  color: white;
}

